---
---
<html lang='es' translate='no'>
<head>
    <meta charset='UTF-8'/>

    <meta name="viewport" content="user-scalable=yes, initial-scale=1, maximum-scale=2, minimum-scale=0.5, width=device-width, height=device-height">

    <!--Fonts-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <!--Fonts-->

    <script src="/scripts/general.js" type="module"></script>
    <noscript>
        <div id='noscript'>
            JavaScript está desactivado en el navegador. Para ver la página, activa JavaScript.
        </div>
    </noscript>
    <title>Página no encontrada</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/styles/style-general.css">
    <link rel="stylesheet" href="/styles/style-gallery.css">


</head>
<body>


    {% include header.html %}



<main>
    <p style="font-size: 10em;font-weight: 900;margin: 0">404</p>
    <p style="display: none">va a ser el estado de su dih cuando me la coma entera</p>
    <p style="font-size: 1.5em; margin: 10px">No se ha encontrado la página solicitada.</p>
</main>


    {% include footer.html %}


</body>
</html>