---
---
<html lang='es' translate='no'>
<head>
    <meta charset='UTF-8'/>

    <meta name="viewport" content="user-scalable=yes, initial-scale=1, maximum-scale=2, minimum-scale=0.5, width=device-width, height=device-height">

    <meta name="twitter:card" content="summary">
    <meta property="og:title" content="JBirding">
    <meta property="og:image" content="https://g4bc8210ff017d8-jbirding.adb.eu-madrid-1.oraclecloudapps.com/ords/jbirding/bird_photos/20230827_145529-Falco_tinnunculus-A-1017.JPG">
    <meta property="og:url" content="https://jbirding.com/">

    <!--Fonts-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <!--Fonts-->

    <script src="/scripts/script-home.js" type="module"></script>
    <noscript>
        <div id='noscript'>
            JavaScript está desactivado en el navegador. Para ver la página, activa JavaScript.
        </div>
    </noscript>
    <title>JBirding</title>
    <meta name="description" content="Fotografías de aves, siempre en libertad y sin ningún tipo de intervención en el medio.">

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/styles/style-general.css">
    <link rel="stylesheet" href="/styles/style-home.css">


</head>
<body>

{% include header.html home="active" %}



<main>
    <nav id='pagesMenu'>
        <div>
            <a href="/gallery"><div class="pageImageContent">
                <div class="imgContainer">
                    <div class="specialBg"></div>
                    <div class="imgBorder">
                        <img id="galleryImg" alt="">
                    </div>
                    <div class="star">&starf;</div>
                </div>
            </div></a>
            <p>Galería</p>
        </div>
        <div>
            <a href="/about">
                <div class="pageImageContent">
                    <img src="/logos/J-pygargus/j-black-pygargus-shadow.png" alt="" id="aboutImg">
                </div>
            </a>
            <p>Sobre mí</p>
        </div>
    </nav>

    <h1>¡Bienvenido a JBirding!</h1>
    <p>En esta página podrás encontrar fotografías de aves, siempre en libertad y sin ningún tipo de intervención en el medio.</p>
    <p>¡Esta es la segunda versión de la página! Respecto a la primera, el principal cambio es el funcionamiento de la galería.
        El sistema es completamente nuevo, lo cual permite actualizaciones instantáneas y una carga más rápida. Faltan algunas fotos de la última versión, pero las iré subiendo poco a poco.
        Además, he cambiado ligeramente las animaciones de la galería y ciertos aspectos del diseño para que la página se vea mejor.</p>
    <br>
    <p>Si tienes alguna sugerencia o comentario, puedes escribirme por Instagram o por correo electrónico. Si encuentras algún en la página, también agradecería mucho si me lo pudieses hacer llegar.</p>
    <p style="margin-bottom: 2em;text-align: center;">¡Gracias por visitar!</p>

</main>




{% include footer.html %}

</body>
</html>