

.svgContainer {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

#speciesSVG {
    stroke-width: 15px;
    stroke-linejoin: round;
    margin-bottom: 10%;
    fill: var(--accent-color);
    stroke: var(--background-color);
}

#pagesMenu {
    display: grid;
    grid-template-columns: repeat(auto-fit,min(400px,40vw));
    width: min(850px,85vw);
    grid-auto-rows: min(400px,40vw);
    margin-inline: auto;
    justify-content: center;
    gap: min(25px,2.5vw);

    margin-block-start: 2em;

    color: var(--accent-color);
}

#pagesMenu > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    a {
        height: 80%;
        width: 80%;
        &:focus-visible {outline-width: 3px}
        border-radius: 5%;
        &:hover, &:focus-visible {
            scale: 1.07;
        }
        transition: scale 0.3s ease;
    }
    p {
        width: fit-content;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        margin: 0;
    }
}

.pageImageContent {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;

    background-color: var(--gray-one);

    >* {
        width: 90%;
        height: auto;
    }
}

p {
    font-size: 1.3em;
    width: min(800px,90%);margin-inline:auto;text-align: justify;
}


.imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &.h {
        width: 90%;
        height: 67.5%;
    }

    &.v {
        width: 67.5%;
        height: 90%;
    }
}

.imgBorder{
    overflow: hidden;
    position: relative;
}

.imgContainer .imgBorder {
    height: 100%;
}

.imgContainer:not(.v) .imgBorder {max-width: 90%; height: 90%;}

.imgContainer.v .imgBorder {height: 90%; width: 90%; max-height: 54vw; max-width: calc(min(400px, 40vw)*0.9*3/4);}

.imgBorder>img.blurry {
    width: 105%;
    height: 105%;
    margin: -2.38%;
    filter: blur(min(7.5px,0.75vw));
}

.h img {
    width: 100%;
}

.v img {
    height: 100%;
}

.imgContainer {
    /*--height: min(240px, 24vw);
    min-height: var(--height);*/
    transition: opacity 0.5s linear;
    opacity: 1;
    &.changingImage {
        opacity: 0;
    }
}

.specialBg {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    mask: url('../other_assets/specialbg.svg') center no-repeat;
    -webkit-mask: url('../other_assets/specialbg.svg') center no-repeat;
    background-color: var(--accent-color);
}

.special:not(.v) > .specialBg {
    mask-size: calc(90% + var(--height)*0.1) var(--height);
    -webkit-mask-size: calc(90% + var(--height)*0.1) var(--height);
}

.special.v > .specialBg {
    mask-size: var(--height) calc(90% + var(--height)*0.1);
    -webkit-mask-size: var(--height) calc(90% + var(--height)*0.1);
}

.imgContainer:not(.special) {
    .specialBg, .star {display: none}
}

.star {
    position: absolute;
    font-size: min(70px, 6vw);
    width: min(70px, 6vw);
    height: min(70px, 6vw);
    line-height: min(70px, 6vw);
    pointer-events: none;
    color: var(--accent-color);
}

.imgContainer:not(.v)>.star {
    top: calc(50% - 100%*0.45 - min(70px, 6vw)/2);
    left: calc(5% - min(70px, 6vw)/2);
}

.imgContainer.v>.star {
    top: calc(5% - min(70px, 6vw)/2);
    left: calc(50% - 100%*0.45 - min(70px, 6vw)/2);
}



@keyframes moveBird {
    0% {
        translate: 0;
        scale: 1;
    }

    37% {
        scale: 1.15
    }
    50% {
        translate: -50% -10%;
        scale: 0 1.15;
    }
    63% {
        scale: -1.15 1.15;
    }

    100% {
        translate: -10% -20%;
        scale: -1.3 1.3
    }
}



#aboutSVG {
    overflow: visible;
    #J, #pygargus {
        translate: 0;
        transform: none;
        transition-property: transform, translate, scale, fill;
        transition-duration: 0.3s, 0.3s, 0.3s, var(--theme-transition-duration);
        transition-timing-function: ease-in-out, ease-in-out, ease-in-out, var(--theme-transition-function);
    }

    #J {
        transform-origin: top left;
        fill: var(--accent-color);
    }

    #pygargus {
        transform-origin: bottom center;
        fill: var(--text-color);
    }
}

#pagesMenu > div a:hover #aboutSVG {
    #J {
        transition-duration: 0.6s, 0.6s, 0.6s, var(--theme-transition-duration);
        transform: scale(1.1);
        translate: 20% 40%;
    }
    #pygargus {
        transition-timing-function: linear, cubic-bezier(0.5, 2.5, 0.5, 2.5), cubic-bezier(0.85, 0, 0.15, 1), var(--theme-transition-function);

        transition-duration: 1.2s, 1.2s, 1.2s, var(--theme-transition-duration);
        translate: calc(-20% ) 0;
        transform: translateY(-40%) scale(1.2);
        scale: -1 1;


        /*animation: moveBird 1.5s linear forwards;*/
    }
}